/* Add this to your CSS file */
.forgot-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh; /* Optionally set the height to 100% of the viewport height */
  }
  .forgot-header{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 30px;
  }
  .forgot-box {
    margin-top: 20px; /* Add some top margin to the section for spacing */
  }
  
  .forgot-input-row {
    margin-bottom: 15px;
  }
  
  .forgot-input-field {
    width: 300px;
    padding: 10px;
    border: 1px solid #ede4f0;
    background-color:#ede4f0 ;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .reset-button-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .reset-button {
    font-size: 16px;
    color: #fff;
    border: none;
    background: linear-gradient(to right, #de57e5 0%, #8863fb 100%);
    border-radius: 5px;
    width: auto;
    height: 40px;
    padding: 5px 15px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  